*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Arial,sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(180deg,#1fb6ff,#0056b3);

overflow:hidden;

}

.contenedor{

width:90%;

max-width:420px;

background:white;

border-radius:25px;

padding:30px;

text-align:center;

box-shadow:0px 15px 40px rgba(0,0,0,.35);

animation:entrada 1s;

}

.logo{

width:140px;

margin-bottom:20px;

}

h1{

color:#008cff;

font-size:32px;

margin-bottom:10px;

}

h2{

color:#ff2f5b;

font-size:28px;

margin-bottom:15px;

}

p{

font-size:18px;

color:#555;

margin-bottom:25px;

line-height:28px;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:15px;

font-size:22px;

font-weight:bold;

cursor:pointer;

background:linear-gradient(90deg,#FFD700,#FFA500);

color:#222;

transition:.4s;

}

button:hover{

transform:scale(1.05);

}

@keyframes entrada{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0px);

}

}
.pantalla{

position:absolute;

width:100%;

height:100%;

display:flex;

justify-content:center;

align-items:center;

transition:1s;

}

.oculto{

opacity:0;

pointer-events:none;

transform:scale(.9);

}

input{

width:100%;

padding:15px;

margin-top:15px;

border-radius:12px;

border:2px solid #9ddcff;

font-size:18px;

}

input:focus{

outline:none;

border:2px solid #00a8ff;

}

.pantalla{

position:absolute;

width:100%;

height:100%;

display:flex;

justify-content:center;

align-items:center;

transition:1s;

}

.oculto{

opacity:0;

pointer-events:none;

transform:scale(.8);

}

#contador{

margin:20px;

font-size:35px;

font-weight:bold;

color:#00a8ff;

}

h3{

color:#ff006a;

font-size:30px;

margin-bottom:20px;

}

#zonaJuego{

position:relative;

width:320px;

height:320px;

margin:auto;

}

#premioImagen{

position:absolute;

width:320px;

height:320px;

left:0;

top:0;

border-radius:20px;

object-fit:cover;

}

canvas{

position:absolute;

left:0;

top:0;

border-radius:20px;

cursor:pointer;

}

#barra{

    display: none;

width:100%;

height:18px;

background:#ddd;

border-radius:30px;

overflow:hidden;

margin-bottom:12px;

}

#progreso{

width:0%;

height:100%;

background:linear-gradient(90deg,#00c853,#4caf50);

transition:.2s;

}
